@media (min-width: 1047px) {
  .header__nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 1150px) {
  // .clients__brands{
  //   flex-direction: column;
  //   align-items:center;
  // }
}

@media (max-width: 1095px) {
  .slider__text {
    max-width: 700px;
  }
}

@media (max-width: 1046px) {
  .header {
    height: 68px;
    .col-12 {
      padding: 0;
    }
  }
  .logo {
    // display: none;
  }
  .header__navigation {
    height: 65px;
  }
  .header__nav {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1000;
    top: 65px;
    left: 0;
    right: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-item {
    margin-left: 0;
  }
  .nav__btn {
    display: inline-block;
  }
  .about {
    padding-top: 20px;
  }
  .teamwork {
    padding-bottom: 50px;
  }
  .title__text {
    margin-bottom: 50px;
  }
}

@media (max-width: 812px) {
  .slider__text {
    max-width: 500px;
  }
  .slider__wrapper-inner {
    position: relative;
  }
}

@media (max-width: 612px) {
  .slider-next {
    right: 10px;
    i {
      font-size: 30px;
    }
  }
  .slider-prev {
    left: 10px;
    i {
      font-size: 30px;
    }
  }
}

@media (max-width: 571px) {
  .clients__brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 569px) {
  .logo {
    max-width: 200px;
  }
  .slider__text {
    font-size: 14px;
    max-width: 400px;
  }
  .images {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .slide {
    width: 90%;
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
    }
  }
  .backLeft {
    display: none;
  }
  .backRight {
    display: none;
  }
  .scroll-bar {
    width: 100%;
    input[type="range"] {
      width: 100%;
    }
  }
}

@media (max-width: 529px) {
  .follow {
    background-position-x: -765px;
  }
  .footer {
    padding: 36px 0px 30px;
  }
  .footer::after {
    bottom: 10px;
    top: auto;
    font-size: 14px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .skills {
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .slider__text {
    max-width: 320px;
  }
  .slider__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    a:nth-child(2) {
      margin-left: 0;
    }
  }
  .post__img {
    img {
      width: 320px;
    }
  }
}

@media (max-width: 368px) {
  .logo {
    max-width: 170px;
  }
  .slider__text {
    max-width: 280px;
  }
  .post__img {
    img {
      width: 280px;
    }
  }
}
